body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color:blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa{
    background-color: purple;
    width: 80%;
    height: 80%;
    border:1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa1 {

    width: 400px;
    height: 400px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
    width: 400px;
    height: 400px;
    border: 1px solid black;


}
.teste {
    width: 70%;
    height: 70%;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
}