* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

.box {
    margin: 20px;
    background-color: brown;
}

#espacador {
    padding: 200px; 
    background: linear-gradient(90deg, rgb(204, 1, 245) 0%,
    rgb(228, 46, 173) 35%, rgb(226, 134, 211) 100%);
}